.load_container {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0); /* Transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.red-box {
  background-color: #ba415a;
  width: 700px; /* Set the width as desired */
  height: 300px; /* Set the height as desired */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#Checktext {
  font-weight: 400;
  color: white;
  font-size: 25px !important;
  margin-top: 10px;
}

#Checktext_2 {
  color: white;
  font-weight: bold;
  font-size: 20px !important;
  margin-bottom: 10px;
}
